<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/AutonomousCar MAPEK _timed simulator_ (redistributable)"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.launching.macosx.MacOSXType/Java SE 17.0.10 [17.0.10]"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#10;-Dsplash.logo=&quot;SUA AutonomousCar&quot;&#10;-Dadaptationreports.folder=${workspace_loc}/RuntimeRepositories/AutonomousCar/${current_date}/AdaptationReports&#10;-Dmodelsrepository.folder=${workspace_loc}/RuntimeRepositories/AutonomousCar/${current_date}/Models&#10;-Dmodel=&quot;AutonomousCar&quot;&#10;-Dsimulator.type=timer&#10;-Dsimulator.verbose=false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="Java-json@default:default"/>
        <setEntry value="es.upv.pros.tatami.adaptation.mapek.lite.redistributable@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="AutonomousCar.MAPEKLite.TEACHER@6:default"/>
        <setEntry value="AutonomousCar.MAPEKLite@5:default"/>
        <setEntry value="AutonomousCar.infraestructure@default:default"/>
        <setEntry value="AutonomousCar.interfaces@default:default"/>
        <setEntry value="AutonomousCar.simulation.console.commands.teacher@default:default"/>
        <setEntry value="AutonomousCar.simulation.console.commands@default:default"/>
        <setEntry value="AutonomousCar.simulation.simulator@default:default"/>
        <setEntry value="device.Engine@default:default"/>
        <setEntry value="device.FrontDistanceSensor@default:default"/>
        <setEntry value="device.HumanSensors@default:default"/>
        <setEntry value="device.LIDAR@default:default"/>
        <setEntry value="device.LeftDistanceSensor@default:default"/>
        <setEntry value="device.LeftLineSensor@default:default"/>
        <setEntry value="device.RearDistanceSensor@default:default"/>
        <setEntry value="device.RightDistanceSensor@default:default"/>
        <setEntry value="device.RightLineSensor@default:default"/>
        <setEntry value="device.RoadSensor@default:default"/>
        <setEntry value="device.Speedometer@default:default"/>
        <setEntry value="device.Steering@default:default"/>
        <setEntry value="driving.FallbackPlan.Emergency@default:default"/>
        <setEntry value="driving.FallbackPlan.ParkInTheRoadShoulder@default:default"/>
        <setEntry value="driving.L0.ManualDriving@default:default"/>
        <setEntry value="driving.L1.AssistedDriving@default:default"/>
        <setEntry value="driving.L2.AdaptiveCruiseControl@default:default"/>
        <setEntry value="driving.L2.LaneKeepingAssist@default:default"/>
        <setEntry value="driving.L3.CityChauffer@default:default"/>
        <setEntry value="driving.L3.HighwayChauffer@default:default"/>
        <setEntry value="driving.L3.TrafficJamChauffer@default:default"/>
        <setEntry value="interaction.DashboardDisplay.VisualIcon@default:default"/>
        <setEntry value="interaction.DashboardDisplay.VisualText@default:default"/>
        <setEntry value="interaction.DashboardIcon@default:default"/>
        <setEntry value="interaction.DriverDisplay.VisualIcon@default:default"/>
        <setEntry value="interaction.DriverDisplay.VisualText@default:default"/>
        <setEntry value="interaction.NotificationService@default:default"/>
        <setEntry value="interaction.Seat.Copilot@default:default"/>
        <setEntry value="interaction.Seat.Driver@default:default"/>
        <setEntry value="interaction.Speakers.AuditoryBeep@default:default"/>
        <setEntry value="interaction.Speakers.AuditorySound@default:default"/>
        <setEntry value="interaction.SteeringWheel@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
